body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background-color: #E5E5E5;
    min-height: 100vh;
}

* {
    font-family: 'Nunito', sans-serif;
}

/*Main Panel*/

.main-panel {
    border-radius: 20px;
    width: 620px;
    height: 763px; 
    
    
    display: flex;
    flex-flow: column;
    

    background: #FFFFFF;
}


/*Panel Title (Cloud image and Title)*/
.panel-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}

.panel-title h1 {
    margin-bottom: 30px;
}

.panel-title .cloud{
    margin-top: 30px;
}

.panel-title h1{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
}

/*End of Title Panel*/

/*Main Form*/

.main-panel form {
    display: flex;
    flex: 1;
    flex-flow: wrap;
    justify-content: center;
}

.main-form {
    display:flex;
    flex-flow: row wrap;
    align-content: space-around;
    /*CHANGE LATER*/
    /*AAA*/
    width: 515px;
    /*AAA*/
    justify-content: space-between;
    /*CHANGE LATER*/
}

.main-form label{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #767676;
    display: flex;
    align-items: space-around;
}

.label-form {
    display: flex;
    flex-flow: column;
    order: 1;
    height: 80px;
}

.label-form p{
    margin: 3px 0;
    display:flex;
    
}

.label-form p::after{
    content: " *";
}

.label-form p:last-child::after{
    content: " ";
}

.form-title{
    order:0;
}

.input-error {
    font-family: 'Nunito';
    color: #FF4B4B;
    order: 2;
}


/*Ordering Gambiarra*/

.label-order-1 {
    order: 1;
}

.label-order-2 {
    order: 2;
}

.label-order-3 {
    order: 3;
}

.label-order-4 {
    order: 4;
}

/*Ordering Gambiarra ends*/

.form-type-1 {
    order: 2;
    box-sizing: border-box;

    width: 515px;
    height: 40px;
    left: 238px;
    top: 533px;

    /* Surface */

    background: #FFFFFF;
    /* Border / Subtle */

    border: 2px solid #AAAAAA;
    border-radius: 4px;
}


.form-type-2 {
    order: 1;
    box-sizing: border-box;

    width: 330px;
    height: 40px;
    left: 237px;
    top: 645px;

    /* Surface */

    background: #FFFFFF;
    /* Border / Subtle */

    border: 2px solid #AAAAAA;
    border-radius: 4px; 
}

.form-type-3 {
    order: 2;
    box-sizing: border-box;

    width: 162px;
    height: 40px;
    left: 591px;
    top: 645px;

    /* Surface */

    background: #FFFFFF;
    /* Border / Subtle */

    border: 2px solid #AAAAAA;
    border-radius: 4px;
}

/*End of Main Form*/

/*Footer Form*/

.footer-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    width: 515px;
    flex-flow: row wrap;
}

.checkbox {
    display: flex;
    accent-color: #0DBDBD;  
    height: 45px;
    flex-flow: column;
    /*justify-content: center;*/
}

.checkbox div{
    display: flex;
    align-items: center;
}

.checkbox input {
    box-sizing: border-box;

    width: 20px;
    height: 20px;

    color: white;
    border: 2px solid #0DBDBD;
    border-radius: 2px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.checkbox-text {
    width: 214px;
    height: 18px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */


    /* Text / Normal */

    color: #111111;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/*.checkbox .input-error {
    width: calc(100% + 20px);
    align-self: self-start;
}*/


.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 6px;

    width: 81px;
    height: 40px;
    left: 670px;
    top: 941px;

    background: #0DBDBD;
    border-radius: 10px;


    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;

    /* Surface */

    color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

/*Footer Form*/

/*Success Panel*/

.success-panel {
    display: flex;
    flex-flow: column;

}

.success-panel .panel-title {
    height: 100%;
    justify-content: space-evenly;

}

.success-panel .button {
    width: 269px;
    height: 177px;
    left: 378px;
    top: 654px;
    font-weight: 400;
    font-size: 36px;
    line-height: 18px;
}

@media only screen and (max-width: 810px) {

    body {
        height: 0;
    }

    .main-panel, .success-panel{
        height: 100%;
        border-radius: 0%;
        width: 100%;
    }

    .main-form {
        max-width: 90%;
    }

    .label-form {
        width: 100%;
        margin: 0;
    }

    .form-type-2{
        width: 100%;
    }

    .label-order-1, .label-order-3 {
        order: 1;
    }

    .label-order-2, .label-order-4 {
        align-content: space-between;
        width: 47%;
        
    }

    .form-type-3 {
        width: 100%;
    }


    #form-input-name {
        width: 100%;
    }

    .footer-form {
        max-width: 90%;
        flex-flow: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .submit {
        width: 100%;
        justify-content: center;
        display: flex;
    }
    
    .submit input {
        width: 100%;
    }

    #bOK {
        align-self: center;
    }
}